<template>
    <div class="container chat-box">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Inbox</div>

                    <div class="card-body">
                        <div class="row" v-for="(chat, key, index) in chatList" v-bind:key="index">
                            <a :href="'/chatadmin/'+key">{{chat.recievername}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                chats : [],
                chatList : {sadwad : {recievername : 'sad'}}
            }
        },
        mounted(){
            this.getChats();
        },
        methods : {
            getChats(){
                axios.get('/all-chat-messages').then(response => {
                    this.chats = response.data;
                    console.log(this.chats)
                    this.groupChats()
                    console.log(this.chatList)
                });
            },
            groupChats() {
                let res = {};
                for (var element in this.chats) {
                    if(this.chats[element].sender_id in Object.keys(res) && this.chats[element].sender_id !== window.Laravel.user.id){
                    }else if(this.chats[element].reciever_id in Object.keys(res) && this.chats[element].reciever_id !== window.Laravel.user.id){
                    }else if(this.chats[element].sender_id !== window.Laravel.user.id){
                        res[this.chats[element].sender_id] = {recievername : this.chats[element].sender.name}
                    }else if(this.chats[element].reciever_id !== window.Laravel.user.id){
                        res[this.chats[element].reciever_id] =  {recievername : this.chats[element].reciever.name}
                    }
                }
                this.chatList = res
            }
        }
    }
</script>

<style lang="scss">
</style>
