<template>
    <div class="container chat-box">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Chat List</div>

                    <div class="card-body">
                        <chat-message-component id="chatmessage" :recievername="this.recievername"/>
                        <chat-form-component id="chatform" :recieverid="this.recieverid"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['recieverid', 'recievername']
    }
</script>

<style lang="scss">
    .chat-box{
        height: 100%;
    }
</style>
